/* Write your CSS code here */
.image {
  width: 20%;
}

.not-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #551e53;
  font-size: 15px;
}
